<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      >
    </script>
</head>
<body style="font:15px/1.5; padding: 0px; background-color:powderblue">
    <br>

    <div class="container">
        <h1 class="banner">Nutes - Analytics Microservice</h1>
        <h2 class="banner">Microserviço para predição de dados da saúde, baseado na estrutura Flask-RESTPlus</h2>
        <h2 class="banner">Seguindo o padrão da documentação RESTful API Design - Guidelines. Por Douglas Rafael
            <br>
            <br>
            <br>
        <div >
            
                <img style="border-radius: 10%", src="https://cdn-images-1.medium.com/max/1023/1*1bmoE9B6U6qr1LXKVBxGVA.png">
            
        </div>
        
    </div>

    
</body>
<script src="static/js/home.js"></script>
</html>